body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--tg-theme-bg-color, #fff);
    color: var(--tg-theme-text-color, #131313);
    height: 100vh;
    overflow: hidden;
}

.container {
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 20px; /* Перемещаем элементы в верхнюю часть экрана */
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Устанавливаем контейнер на всю ширину */
}

.emoji-large {
    font-size: 110px;
    margin-bottom: 20px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    color: var(--tg-theme-hint-color, #707579);
    margin-bottom: 25px;
}

.timer-container {
    margin-top: 20px;
    margin-bottom: 50px;
}

.timer {
    font-size: 40px;
    font-weight: bold;
    color: var(--tg-theme-button-color, #2481cc);
}

.timer-text {
    font-size: 16px;
    color: var(--tg-theme-hint-color, #707579);
}

.btn {
    display: block;
    width: 90%; /* Ширина кнопки 90% от ширины экрана */
    margin: 10px auto; /* Центрируем кнопку */
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s, opacity 0.2s;
}

.btn.transparent {
    background: rgba(36, 129, 204, 0.1);
    color: var(--tg-theme-button-color, #2481cc);
    border: 1px solid var(--tg-theme-button-color, #2481cc);
}

.btn.transparent:hover {
    background: rgba(36, 129, 204, 0.2);
}

.btn.primary {
    background: var(--tg-theme-button-color, #2481cc);
    color: var(--tg-theme-button-text-color, #ffffff);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.loaded {
    opacity: 1;
    transform: translateY(0);
}
